name: Meta app deploy

on:
  # push:
  workflow_dispatch:
    inputs:
      target_env:
        type: choice
        description: "Environment to deploy to"
        required: true
        default: "nightly"
        options:
          - "nightly"
          - "dev"
          - "stage"
          - "scratch"

concurrency:
  group: meta-parent

jobs:
  # something:
  #   name: Meta deploy test parent checkout
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Checkout repository
  #       uses: actions/checkout@v2
  #       # GITHUB_REF should be the same as the caller
  #     - name: Check branch
  #       run: |
  #         pwd
  #         git branch
  #         git log -n 1 --oneline
  call-workflow-1:
    name: Meta deploy test parent checkout
    runs-on: ubuntu-latest
    steps:
      - name: Run single event to dispatch multiple jobs
        run: |
    curl --location --request POST 'https://api.github.com/repos/pdonorio/ga-meta-job/dispatches' \
        --header 'Content-Type: application/json' \
        --header 'Authorization: Bearer ${{ secrets.PAT_DISPATCH }}' \
        --header 'Accept: application/vnd.github.everest-preview+json' \
        --data-raw '{
            "event_type": "my-workflows",
            "client_payload": {
                "some": "value"
            }
        }'
  # call-workflow-1:
  #   name: call
  #   uses: pdonorio/ga-meta-job/.github/workflows/test-job.yml@main
  #   with:
  #     target_env: ${{ github.event.inputs.target_env }}
  # call-workflow-2:
  #   name: call
  #   uses: pdonorio/ga-meta-job/.github/workflows/test-job.yml@main
  #   with:
  #     target_env: nightly
