name: Meta app deploy

on:
  workflow_dispatch:
    inputs:
      target_env:
        type: choice
        description: "Environment to deploy to"
        required: true
        default: "dev"
        options:
          - "dev"
          - "stage"

jobs:
  magic:
    name: Meta-call
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}
      - name: Loop and call all workflows
        run: >
            declare -A WORKFLOWS

            WORKFLOWS[web]="test-job.yml"
            WORKFLOWS[desktop]="test-another-job.yml"

            for workflow in ${WORKFLOWS[@]}; do
                echo "Dispatch on $workflow"
                .github/scripts/send.sh $workflow $BRANCH $TARGET_ENV
            done
        env:
          TOKEN: ${{ secrets.PAT_DISPATCH }}
          BRANCH: ${{ github.ref }}
          TARGET_ENV: ${{ github.event.inputs.target_env }}
