name: Meta app deploy

on:
  workflow_dispatch:
    inputs:
      target_env:
        type: choice
        description: "Environment to deploy to"
        required: true
        default: "nightly"
        options:
          - "nightly"
          - "dev"
          - "stage"
          - "scratch"

concurrency:
  group: meta-parent

jobs:
  magic:
    name: Meta deploy test parent checkout
    runs-on: ubuntu-latest
    steps:
      - name: Run single event to dispatch multiple jobs
        run: >
            curl
            --fail
            --request POST
            --url 'https://api.github.com/repos/pdonorio/ga-meta-job/actions/workflows/test-job.yml/dispatches'
            --header 'Content-Type: application/json'
            --header 'Authorization: Bearer ${{ secrets.PAT_DISPATCH }}'
            --header 'Accept: application/vnd.github.everest-preview+json'
            --data-raw '{
                "ref": "${{ github.ref }}",
                "testkey": "42",
                "target_env": "${{ github.event.inputs.target_env }}"
            }'
