name: Test workflow

on:
  workflow_dispatch:
    inputs:
      target_env:
        type: string
        description: "Environment to deploy to"
        required: true
        default: "nightly"
      testkey:
        type: string
        description: "test"
        required: false

jobs:
  something:
    name: Meta deploy test child
    runs-on: ubuntu-latest
    steps:
      - name: Print var
        run: |
          echo "payload[${{ github.event.client_payload.ref }}] sha[${{ github.sha }}]"
          echo "event name: *${{ github.event_name }} - action:
          ${{ github.event.action  }}*"
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.client_payload.ref || github.sha }}
      - name: Check branch
        run: |
          pwd
          git branch
          git log -n 1 --oneline
          echo ${{ github.event.inputs.testkey }}
