name: Test another workflow

on:
  repository_dispatch:
    types: [my-workflows]

jobs:
  something:
    name: Meta deploy test child 2
    runs-on: ubuntu-latest
    steps:
      - name: Print var
        run: echo "payload[${{ github.event.client_payload.ref }}] sha[${{ github.sha }}]"
      - name: Checkout repository
        uses: actions/checkout@v2
        # don't use vars
      - name: Check branch
        run: |
          pwd
          git branch
          git log -n 1 --oneline
