name: Test workflow

on:
  workflow_call:
    inputs:
      target_env:
        type: string
        description: "Environment to deploy to"
        required: true
        default: "nightly"
  # DOES NOT WORK
  # workflow_run:
  #   workflows:
  #     - "Meta app deploy"
  #   types:
  #     - completed
  workflow_dispatch:
    inputs:
      target_env:
        type: string
        description: "Environment to deploy to"
        required: true
        default: "nightly"

# permissions:
#   id-token: write
#   contents: write

# NOTE: concurrency is not supported for called workflows
# TODO: to be investigated
# concurrency:
#   group: deploy-child

jobs:
  something:
    name: Meta deploy test child
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        # GITHUB_REF should be the same as the caller
      - name: Check branch
        run: |
          pwd
          git branch
          git log -n 1 --oneline
      - name: Test parameters
        run: echo "This is a test run for ${{ ${{ github.event.inputs.target_env }}"
